<div>
    <h2 id="page-heading">
        <span jhiTranslate="mmdbApp.movie.home.title">Movies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movie" [routerLink]="['/movie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mmdbApp.movie.home.createLabel">
            Create a new Movie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="movies?.length === 0">
        <span jhiTranslate="mmdbApp.movie.home.notFound">No movies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="movies && movies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="mmdbApp.movie.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="forAdult"><span jhiTranslate="mmdbApp.movie.forAdult">For Adult</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="homepage"><span jhiTranslate="mmdbApp.movie.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="originalLanguage"><span jhiTranslate="mmdbApp.movie.originalLanguage">Original Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="originalTitle"><span jhiTranslate="mmdbApp.movie.originalTitle">Original Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="overview"><span jhiTranslate="mmdbApp.movie.overview">Overview</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tagline"><span jhiTranslate="mmdbApp.movie.tagline">Tagline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="mmdbApp.movie.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voteAverage"><span jhiTranslate="mmdbApp.movie.voteAverage">Vote Average</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voteCount"><span jhiTranslate="mmdbApp.movie.voteCount">Vote Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="releaseDate"><span jhiTranslate="mmdbApp.movie.releaseDate">Release Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastTMDBUpdate"><span jhiTranslate="mmdbApp.movie.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tmdbId"><span jhiTranslate="mmdbApp.movie.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="runtime"><span jhiTranslate="mmdbApp.movie.runtime">Runtime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let movie of movies ;trackBy: trackId">
                    <td><a [routerLink]="['/movie', movie.id, 'view']">{{ movie.id }}</a></td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.forAdult }}</td>
                    <td>{{ movie.homepage }}</td>
                    <td>{{ movie.originalLanguage }}</td>
                    <td>{{ movie.originalTitle }}</td>
                    <td>{{ movie.overview }}</td>
                    <td>{{ movie.tagline }}</td>
                    <td jhiTranslate="{{ 'mmdbApp.MovieStatus.' + movie.status }}">{{ movie.status }}</td>
                    <td>{{ movie.voteAverage }}</td>
                    <td>{{ movie.voteCount }}</td>
                    <td>{{ movie.releaseDate | date:'mediumDate' }}</td>
                    <td>{{ movie.lastTMDBUpdate | date:'mediumDate' }}</td>
                    <td>{{ movie.tmdbId }}</td>
                    <td>{{ movie.runtime }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/movie', movie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/movie', movie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(movie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
