<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-movie-heading" jhiTranslate="mmdbApp.movie.home.createOrEditLabel">Create or edit a Movie</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.forAdult" for="field_forAdult">For Adult</label>
                    <input type="checkbox" class="form-control" name="forAdult" id="field_forAdult"
                           formControlName="forAdult"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.homepage" for="field_homepage">Homepage</label>
                    <input type="text" class="form-control" name="homepage" id="field_homepage"
                           formControlName="homepage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.originalLanguage" for="field_originalLanguage">Original Language</label>
                    <input type="text" class="form-control" name="originalLanguage" id="field_originalLanguage"
                           formControlName="originalLanguage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.originalTitle" for="field_originalTitle">Original Title</label>
                    <input type="text" class="form-control" name="originalTitle" id="field_originalTitle"
                           formControlName="originalTitle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.overview" for="field_overview">Overview</label>
                    <input type="text" class="form-control" name="overview" id="field_overview"
                           formControlName="overview"/>
                    <div *ngIf="editForm.get('overview')!.invalid && (editForm.get('overview')!.dirty || editForm.get('overview')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('overview')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.tagline" for="field_tagline">Tagline</label>
                    <input type="text" class="form-control" name="tagline" id="field_tagline"
                           formControlName="tagline"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="RUMORED">{{ 'mmdbApp.MovieStatus.RUMORED' | translate }}</option>
                        <option value="PLANNED">{{ 'mmdbApp.MovieStatus.PLANNED' | translate }}</option>
                        <option value="IN_PRODUCTION">{{ 'mmdbApp.MovieStatus.IN_PRODUCTION' | translate }}</option>
                        <option value="POST_PRODUCTION">{{ 'mmdbApp.MovieStatus.POST_PRODUCTION' | translate }}</option>
                        <option value="RELEASED">{{ 'mmdbApp.MovieStatus.RELEASED' | translate }}</option>
                        <option value="CANCELED">{{ 'mmdbApp.MovieStatus.CANCELED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.voteAverage" for="field_voteAverage">Vote Average</label>
                    <input type="number" class="form-control" name="voteAverage" id="field_voteAverage"
                           formControlName="voteAverage"/>
                    <div *ngIf="editForm.get('voteAverage')!.invalid && (editForm.get('voteAverage')!.dirty || editForm.get('voteAverage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('voteAverage')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('voteAverage')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('voteAverage')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.voteCount" for="field_voteCount">Vote Count</label>
                    <input type="number" class="form-control" name="voteCount" id="field_voteCount"
                           formControlName="voteCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.releaseDate" for="field_releaseDate">Release Date</label>
                    <div class="input-group">
                        <input id="field_releaseDate" type="text" class="form-control" name="releaseDate" ngbDatepicker #releaseDateDp="ngbDatepicker" formControlName="releaseDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="releaseDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.lastTMDBUpdate" for="field_lastTMDBUpdate">Last TMDB Update</label>
                    <div class="input-group">
                        <input id="field_lastTMDBUpdate" type="text" class="form-control" name="lastTMDBUpdate" ngbDatepicker #lastTMDBUpdateDp="ngbDatepicker" formControlName="lastTMDBUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastTMDBUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastTMDBUpdate')!.invalid && (editForm.get('lastTMDBUpdate')!.dirty || editForm.get('lastTMDBUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastTMDBUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.tmdbId" for="field_tmdbId">Tmdb Id</label>
                    <input type="text" class="form-control" name="tmdbId" id="field_tmdbId"
                           formControlName="tmdbId"/>
                    <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.movie.runtime" for="field_runtime">Runtime</label>
                    <input type="number" class="form-control" name="runtime" id="field_runtime"
                           formControlName="runtime"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="mmdbApp.movie.genre" for="field_genres">Genre</label>
                    <select class="form-control" id="field_genres" multiple name="genres" formControlName="genres">
                        <option [ngValue]="getSelected(editForm.get('genres')!.value, genreOption)" *ngFor="let genreOption of genres; trackBy: trackById">{{ genreOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
