<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movie">
            <h2><span jhiTranslate="mmdbApp.movie.detail.title">Movie</span> {{ movie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mmdbApp.movie.title">Title</span></dt>
                <dd>
                    <span>{{ movie.title }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.forAdult">For Adult</span></dt>
                <dd>
                    <span>{{ movie.forAdult }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.homepage">Homepage</span></dt>
                <dd>
                    <span>{{ movie.homepage }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.originalLanguage">Original Language</span></dt>
                <dd>
                    <span>{{ movie.originalLanguage }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.originalTitle">Original Title</span></dt>
                <dd>
                    <span>{{ movie.originalTitle }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.overview">Overview</span></dt>
                <dd>
                    <span>{{ movie.overview }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.tagline">Tagline</span></dt>
                <dd>
                    <span>{{ movie.tagline }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mmdbApp.MovieStatus.' + movie.status }}">{{ movie.status }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.voteAverage">Vote Average</span></dt>
                <dd>
                    <span>{{ movie.voteAverage }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.voteCount">Vote Count</span></dt>
                <dd>
                    <span>{{ movie.voteCount }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.releaseDate">Release Date</span></dt>
                <dd>
                    <span>{{ movie.releaseDate }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.lastTMDBUpdate">Last TMDB Update</span></dt>
                <dd>
                    <span>{{ movie.lastTMDBUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.tmdbId">Tmdb Id</span></dt>
                <dd>
                    <span>{{ movie.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.runtime">Runtime</span></dt>
                <dd>
                    <span>{{ movie.runtime }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.movie.genre">Genre</span></dt>
                <dd>
                    <span *ngFor="let genre of movie.genres; let last = last">
                        <a [routerLink]="['/genre', genre?.id, 'view']">{{ genre.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/movie', movie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
