<div class="row justify-content-center">
    <button type="submit"
                                    [routerLink]="['/mmdb-movie', movie?.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
    <div class="col-12">
        <div *ngIf="movie">

            <section class="inner_content movie_content backdrop poster">



                <div class="header large border first"
                    [style]="'background-image: url(/api/public/tmdb-image-from-tmdb/w1920_and_h800_multi_faces'+backdrop?.tmdbId+');'">
                    <div class="keyboard_s custom_bg">
                        <div class="single_column">
                            <section class="images inner">
                                <div class="poster_wrapper true">
                                    <div class="poster">
                                        <div class="image_content backdrop">
                                            <img class="poster lazyload lazyloaded"
                                                [src]="'/api/public/tmdb-image-from-tmdb/w300_and_h450_bestv2'+poster?.tmdbId" />
                                        </div>
                                    </div>

                                </div>
                                <div class="header_poster_wrapper true">
                                    <section class="header poster">
                                        <div class="title ott_true">
                                            <h2 class="10">{{ movie.title }} ({{movie.releaseDate | date:'y'}})</h2>
                                            <div class="facts">
                                                <span class="certification">U</span>
                                                <span class="release">{{movie.releaseDate | date}}</span>
                                                <span class="genres">
                                                    <a *ngFor="let genre of movie.genres; let last = last">{{ genre.name
                                                        }}{{ last ? '' : ', ' }}</a>


                                                </span>
                                                <span class="runtime">{{movie.runtime | duration}}</span>
                                            </div>
                                        </div>
                                        <ul class="auto actions">
                                            <li class="chart">

                                                
                                                <!-- <ngx-gauge [value]="movie?.voteAverage!" [type]="gaugeType" [min]="gaugeMin" [max]="gaugeMax" [size]="gaugeSize" [cap]="gaugeCap"></ngx-gauge>  -->
                                                ({{movie.voteCount}})
                                            </li>
                                        </ul>
                                        <div class="header_info">
                                            <h3 class="tagline" dir="auto">
                                                {{ movie.tagline }}
                                            </h3>
                                            <h3 dir="auto">Synopsis</h3>
                                            <div class="overview" dir="auto">
                                                <p>{{ movie.overview }}</p>
                                            </div>
                                            <ol class="people no_image">
                                                <li *ngFor="let c of getDirectors()" class="profile">
                                                    <p>
                                                        <a>{{c.personName}}</a>

                                                    </p>
                                                    <p class="character">
                                                        {{c.job}}
                                                    </p>
                                                </li>
                                            </ol>

                                        </div>
                                    </section>

                                </div>

                            </section>
                        </div>
                    </div>


                </div>

                <div class="media movie_v4 header_large">
                    <div class="column_wrapper">
                        <div class="content_wrapper">
                            <div>
                                <div class="white_column">
                                    <section class="panel top_billed scroller">
                                        <h3 dir="auto">Tête d'affiche</h3>
                                        <div class="cast_scroller">
                                            <ol class="people scroller">
                                                <li *ngFor="let cast of casts" class="card">
                                                    <jhi-mmdb-movie-credit [credit]="cast"></jhi-mmdb-movie-credit>
                                                </li>
                                            </ol>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="grey_column">
                                <div>
                                    <section class="split_column">
                                        <div>
                                            <div class="column no_bottom_pad">
                                                <section class="facts left_column">
                                                    <div class="social_links">

                                                        <div>
                                                            <a class="social_link" title="Page Facebook"
                                                                href="https://www.facebook.com/FightClub"
                                                                target="_blank" rel="noopener" data-role="tooltip"><span
                                                                    class="glyphicons_v2 facebook"></span></a>
                                                        </div>




                                                        <div class="homepage">
                                                            <a class="social_link" title="Page JustWatch"
                                                                href="https://www.justwatch.com/fr/film/fight-club"
                                                                target="_blank" rel="noopener" data-role="tooltip"><span
                                                                    class="glyphicons_v2 justwatch"></span></a>
                                                        </div>


                                                        <div *ngIf="movie.homepage" class="homepage">
                                                            <a class="social_link" title="Site officiel"
                                                                [href]="movie.homepage" target="_blank" rel="noopener"
                                                                data-role="tooltip"><span
                                                                    class="glyphicons_v2 link"></span></a>
                                                        </div>

                                                    </div>


                                                    <p>
                                                        <strong><bdi>Statut</bdi></strong> <span
                                                            jhiTranslate="{{ 'mymoviesdbApp.MovieStatus.' + movie.status }}">{{
                                                            movie.status }}</span>
                                                    </p>

                                                    <p><strong><bdi>Langue originale</bdi></strong> anglais</p>
                                                    <p><strong><bdi>Budget</bdi></strong> $63,000,000.00</p>
                                                    <p><strong><bdi>Recette</bdi></strong> $100,853,753.00</p>
                                                </section>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="movie_section">
                
            </section>

            <h2><span jhiTranslate="mymoviesdbApp.movie.detail.title">Movie</span> {{ movie.id }}</h2>


            <hr>

            <jhi-alert-error></jhi-alert-error>
            
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesdbApp.movie.title">Title</span></dt>
                <dd>
                    <span>{{ movie.title }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.forAdult">For Adult</span></dt>
                <dd>
                    <span>{{ movie.forAdult }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.homepage">Homepage</span></dt>
                <dd>
                    <span>{{ movie.homepage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.originalLanguage">Original Language</span></dt>
                <dd>
                    <span>{{ movie.originalLanguage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.originalTitle">Original Title</span></dt>
                <dd>
                    <span>{{ movie.originalTitle }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.overview">Overview</span></dt>
                <dd>
                    <span>{{ movie.overview }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.tagline">Tagline</span></dt>
                <dd>
                    <span>{{ movie.tagline }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mymoviesdbApp.MovieStatus.' + movie.status }}">{{ movie.status }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.voteAverage">Vote Average</span></dt>
                <dd>
                    <span>{{ movie.voteAverage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.voteCount">Vote Count</span></dt>
                <dd>
                    <span>{{ movie.voteCount }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.releaseDate">Release Date</span></dt>
                <dd>
                    <span>{{ movie.releaseDate }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.lastTMDBUpdate">Last TMDB Update</span></dt>
                <dd>
                    <span>{{ movie.lastTMDBUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.tmdbId">Tmdb Id</span></dt>
                <dd>
                    <span>{{ movie.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.movie.genre">Genre</span></dt>
                <dd>
                    <span *ngFor="let genre of movie.genres; let last = last">
                        <a [routerLink]="['/genre', genre?.id, 'view']">{{ genre.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/movie', movie.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>