.common {
  --imageBorderRadius: 8px;
  color: #000;
  font-family: 'Roboto';
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

.header_large_border_first {
  @extend .common;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, rgba(89.02%, 89.02%, 89.02%, 1), rgba(100%, 100%, 100%, 1));
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(27, 60, 66, 1);
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
  //background-image: url('//image.tmdb.org/t/p/w1920_and_h800_multi_faces/w2O9nM7dckWaUqmCbiWZSBHStpi.jpg');
}

.custom_bg {
  @extend .common;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  //background-image: linear-gradient(to right, rgba(38.82%, 20.78%, 15.69%, 1) 150px, rgba(45.49%, 27.84%, 23.14%, 0.84) 100%);
  background-image: linear-gradient(to right, rgb(30, 67, 74) 150px, rgba(30, 67, 74, 0.74) 100%);
}
.signle_column {
  @extend .common;
  max-width: 1300px;
  width: 100%;
  z-index: 0;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: transparent;
}

.original_header {
  @extend .common;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}

.poster_wrapper {
  @extend .common;
  box-sizing: border-box;
  border-width: 0px;
  min-width: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: var(--imageBorderRadius);
  height: auto;
}

.poster {
  @extend .common;
  box-sizing: border-box;
  display: block;
  min-width: 300px;
  width: 300px;
  height: 450px;
  position: relative;
  top: 0;
  left: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.image_content {
  @extend .common;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  height: 100%;
}

.img_poster {
  @extend .common;
  border: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-width: 0px;
  outline: none;
}

.header_poster_wrapper {
  @extend .common;
  box-sizing: border-box;
  display: flex;
}

.header_poster {
  @extend .common;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
  color: #ffffff;
}

.title {
  @extend .common;
  color: #ffffff;
  unicode-bidi: -webkit-isolate;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.h2title {
  @extend .common;
  color: #ffffff;
  box-sizing: border-box;
  font-weight: 600;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
}
.facts {
  @extend .common;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
}
.certification {
  @extend .common;
  box-sizing: border-box;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  align-content: center;
  padding: 0.06em 4px 0.15em 4px !important;
  line-height: 1;
  border-radius: 2px;
  margin-right: 7px;
  border: 1px solid rgba(100%, 100%, 100%, 0.6);
  color: rgba(100%, 100%, 100%, 0.6);
}

.release {
  @extend .common;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 0;
}

.genres {
  @extend .common;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  top: 0;
  left: 0;
}
span.genres:before,
span.runtime:before {
  font-size: 1.1em;
  line-height: 1;
  content: '\2022';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
  z-index: -1;
}

.runtime {
  @extend .common;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  top: 0;
  left: 0;
}

.header_info {
  @extend .common;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
}
.tagline {
  @extend .common;
  color: #ffffff;
  unicode-bidi: -webkit-isolate;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 8px 0;
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}

.synopsis {
  @extend .common;
  color: #ffffff;
  unicode-bidi: -webkit-isolate;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.3em;
  width: 100%;
  margin: 0 0 8px 0;
  margin-top: 10px;
}

.overview {
  @extend .common;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  unicode-bidi: -webkit-isolate;
  box-sizing: border-box;
}

.media_movie_header_large {
  @extend .common;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  width: 100%;
}
.column_wrapper {
  @extend .common;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.content_wrapper {
  @extend .common;
  box-sizing: border-box;
  max-width: 1300px;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.white_column {
  @extend .common;
  box-sizing: border-box;
  background-color: #fff;
  max-width: 960px;
  width: calc(100vw - 80px - 260px);
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding-right: 30px;
}
.panel_top_billed_scroller {
  @extend .common;
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: none;
  padding-top: 0;
}
.cast_scroller {
  @extend .common;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
}
.people_scroller {
  @extend .common;
  box-sizing: border-box;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: -10px;
  margin-top: -10px;
}
.card {
  @extend .common;
  list-style-type: none;
  list-style-position: inside;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 140px;
  width: 140px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 4px;
  border: 1px solid rgba(var(--lightGrey), 1);
  padding-bottom: 10px;
  border-radius: var(--imageBorderRadius);
  overflow: hidden;
}
.person_anchor {
  @extend .common;
  list-style-type: none;
  list-style-position: inside;
  font-size: 1em;
  background: transparent;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.person_name {
  @extend .common;
  list-style-type: none;
  list-style-position: inside;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  padding-top: 10px;
}

h3 {
  @extend .common;
  unicode-bidi: -webkit-isolate;
  padding: 0;
  box-sizing: border-box;
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}
.profile {
  @extend .common;
  list-style-type: none;
  list-style-position: inside;
  font-weight: normal;
  color: #000;
  border: 0;
  box-sizing: border-box;
  outline: none;
  min-width: 1px;
  min-height: 1px;
  width: 100%;
  height: 100%;
}
.character {
  @extend .common;
  list-style-type: none;
  list-style-position: inside;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  padding: 0 10px;
  margin-bottom: 0;
}

a.people_profile {
  min-width: 138px;
  width: 138px;
  height: 175px;
  display: block;
}

.people_no_image {
  @extend .common;
  color: #ffffff;
  box-sizing: border-box;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profile {
  @extend .common;
  color: #ffffff;
  list-style-type: none;
  list-style-position: inside;
  min-width: 140px;
  width: 33%;
  flex-basis: 33%;
  text-align: left;
  margin-right: 0;
  box-sizing: border-box;
  padding-right: 20px;
  background-color: transparent;
  height: auto;
  margin-bottom: 0;
}
