<div>
    <h2 id="page-heading">
        <span jhiTranslate="mmdbApp.person.home.title">People</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person" [routerLink]="['/person/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mmdbApp.person.home.createLabel">
            Create a new Person
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
        <span jhiTranslate="mmdbApp.person.home.notFound">No people found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="people && people.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthday"><span jhiTranslate="mmdbApp.person.birthday">Birthday</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deathday"><span jhiTranslate="mmdbApp.person.deathday">Deathday</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="mmdbApp.person.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aka"><span jhiTranslate="mmdbApp.person.aka">Aka</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span jhiTranslate="mmdbApp.person.gender">Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="biography"><span jhiTranslate="mmdbApp.person.biography">Biography</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="placeOfBirth"><span jhiTranslate="mmdbApp.person.placeOfBirth">Place Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="homepage"><span jhiTranslate="mmdbApp.person.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastTMDBUpdate"><span jhiTranslate="mmdbApp.person.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tmdbId"><span jhiTranslate="mmdbApp.person.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let person of people ;trackBy: trackId">
                    <td><a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a></td>
                    <td>{{ person.birthday | date:'mediumDate' }}</td>
                    <td>{{ person.deathday | date:'mediumDate' }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.aka }}</td>
                    <td>{{ person.gender }}</td>
                    <td>{{ person.biography }}</td>
                    <td>{{ person.placeOfBirth }}</td>
                    <td>{{ person.homepage }}</td>
                    <td>{{ person.lastTMDBUpdate | date:'mediumDate' }}</td>
                    <td>{{ person.tmdbId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/person', person.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/person', person.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(person)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
