<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-heading" jhiTranslate="mmdbApp.person.home.createOrEditLabel">Create or edit a Person</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.birthday" for="field_birthday">Birthday</label>
                    <div class="input-group">
                        <input id="field_birthday" type="text" class="form-control" name="birthday" ngbDatepicker #birthdayDp="ngbDatepicker" formControlName="birthday"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.deathday" for="field_deathday">Deathday</label>
                    <div class="input-group">
                        <input id="field_deathday" type="text" class="form-control" name="deathday" ngbDatepicker #deathdayDp="ngbDatepicker" formControlName="deathday"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deathdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.aka" for="field_aka">Aka</label>
                    <input type="text" class="form-control" name="aka" id="field_aka"
                           formControlName="aka"/>
                    <div *ngIf="editForm.get('aka')!.invalid && (editForm.get('aka')!.dirty || editForm.get('aka')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('aka')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.gender" for="field_gender">Gender</label>
                    <input type="number" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.biography" for="field_biography">Biography</label>
                    <input type="text" class="form-control" name="biography" id="field_biography"
                           formControlName="biography"/>
                    <div *ngIf="editForm.get('biography')!.invalid && (editForm.get('biography')!.dirty || editForm.get('biography')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('biography')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.placeOfBirth" for="field_placeOfBirth">Place Of Birth</label>
                    <input type="text" class="form-control" name="placeOfBirth" id="field_placeOfBirth"
                           formControlName="placeOfBirth"/>
                    <div *ngIf="editForm.get('placeOfBirth')!.invalid && (editForm.get('placeOfBirth')!.dirty || editForm.get('placeOfBirth')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('placeOfBirth')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.homepage" for="field_homepage">Homepage</label>
                    <input type="text" class="form-control" name="homepage" id="field_homepage"
                           formControlName="homepage"/>
                    <div *ngIf="editForm.get('homepage')!.invalid && (editForm.get('homepage')!.dirty || editForm.get('homepage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('homepage')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.lastTMDBUpdate" for="field_lastTMDBUpdate">Last TMDB Update</label>
                    <div class="input-group">
                        <input id="field_lastTMDBUpdate" type="text" class="form-control" name="lastTMDBUpdate" ngbDatepicker #lastTMDBUpdateDp="ngbDatepicker" formControlName="lastTMDBUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastTMDBUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastTMDBUpdate')!.invalid && (editForm.get('lastTMDBUpdate')!.dirty || editForm.get('lastTMDBUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastTMDBUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.person.tmdbId" for="field_tmdbId">Tmdb Id</label>
                    <input type="text" class="form-control" name="tmdbId" id="field_tmdbId"
                           formControlName="tmdbId"/>
                    <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
