<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="genre">
            <h2><span jhiTranslate="mmdbApp.genre.detail.title">Genre</span> {{ genre.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mmdbApp.genre.tmdbId">Tmdb Id</span></dt>
                <dd>
                    <span>{{ genre.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.genre.name">Name</span></dt>
                <dd>
                    <span>{{ genre.name }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.genre.lastTMDBUpdate">Last TMDB Update</span></dt>
                <dd>
                    <span>{{ genre.lastTMDBUpdate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/genre', genre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
