<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-image-heading" jhiTranslate="mmdbApp.image.home.createOrEditLabel">Create or edit a Image</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.tmdbId" for="field_tmdbId">Tmdb Id</label>
                    <input type="text" class="form-control" name="tmdbId" id="field_tmdbId"
                           formControlName="tmdbId"/>
                    <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.locale" for="field_locale">Locale</label>
                    <input type="text" class="form-control" name="locale" id="field_locale"
                           formControlName="locale"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.voteAverage" for="field_voteAverage">Vote Average</label>
                    <input type="number" class="form-control" name="voteAverage" id="field_voteAverage"
                           formControlName="voteAverage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.voteCount" for="field_voteCount">Vote Count</label>
                    <input type="number" class="form-control" name="voteCount" id="field_voteCount"
                           formControlName="voteCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.lastTMDBUpdate" for="field_lastTMDBUpdate">Last TMDB Update</label>
                    <div class="input-group">
                        <input id="field_lastTMDBUpdate" type="text" class="form-control" name="lastTMDBUpdate" ngbDatepicker #lastTMDBUpdateDp="ngbDatepicker" formControlName="lastTMDBUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastTMDBUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastTMDBUpdate')!.invalid && (editForm.get('lastTMDBUpdate')!.dirty || editForm.get('lastTMDBUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastTMDBUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.posterMovie" for="field_posterMovie">Poster Movie</label>
                    <select class="form-control" id="field_posterMovie" name="posterMovie" formControlName="posterMovieId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="movieOption.id" *ngFor="let movieOption of movies; trackBy: trackById">{{ movieOption.title }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.backdropMovie" for="field_backdropMovie">Backdrop Movie</label>
                    <select class="form-control" id="field_backdropMovie" name="backdropMovie" formControlName="backdropMovieId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="movieOption.id" *ngFor="let movieOption of movies; trackBy: trackById">{{ movieOption.title }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmdbApp.image.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
