<div>
    <h2 id="page-heading">
        <span jhiTranslate="mmdbApp.image.home.title">Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mmdbApp.image.home.createLabel">
            Create a new Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
        <span jhiTranslate="mmdbApp.image.home.notFound">No images found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="images && images.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tmdbId"><span jhiTranslate="mmdbApp.image.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locale"><span jhiTranslate="mmdbApp.image.locale">Locale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voteAverage"><span jhiTranslate="mmdbApp.image.voteAverage">Vote Average</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voteCount"><span jhiTranslate="mmdbApp.image.voteCount">Vote Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastTMDBUpdate"><span jhiTranslate="mmdbApp.image.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="posterMovieTitle"><span jhiTranslate="mmdbApp.image.posterMovie">Poster Movie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="backdropMovieTitle"><span jhiTranslate="mmdbApp.image.backdropMovie">Backdrop Movie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="personName"><span jhiTranslate="mmdbApp.image.person">Person</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let image of images ;trackBy: trackId">
                    <td><a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a></td>
                    <td>{{ image.tmdbId }}</td>
                    <td>{{ image.locale }}</td>
                    <td>{{ image.voteAverage }}</td>
                    <td>{{ image.voteCount }}</td>
                    <td>{{ image.lastTMDBUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="image.posterMovieId">
                            <a [routerLink]="['/movie', image.posterMovieId , 'view']" >{{ image.posterMovieTitle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="image.backdropMovieId">
                            <a [routerLink]="['/movie', image.backdropMovieId , 'view']" >{{ image.backdropMovieTitle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="image.personId">
                            <a [routerLink]="['/person', image.personId , 'view']" >{{ image.personName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/image', image.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/image', image.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(image)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
