<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="credit">
            <h2><span jhiTranslate="mmdbApp.credit.detail.title">Credit</span> {{ credit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mmdbApp.credit.tmdbId" [ngbTooltip]="'mmdbApp.credit.help.tmdbId' | translate">Tmdb Id</span></dt>
                <dd>
                    <span>{{ credit.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.character">Character</span></dt>
                <dd>
                    <span>{{ credit.character }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.creditType">Credit Type</span></dt>
                <dd>
                    <span>{{ credit.creditType }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.department">Department</span></dt>
                <dd>
                    <span>{{ credit.department }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.job">Job</span></dt>
                <dd>
                    <span>{{ credit.job }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.order">Order</span></dt>
                <dd>
                    <span>{{ credit.order }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.lastTMDBUpdate">Last TMDB Update</span></dt>
                <dd>
                    <span>{{ credit.lastTMDBUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.person">Person</span></dt>
                <dd>
                    <div *ngIf="credit.personId">
                        <a [routerLink]="['/person', credit.personId, 'view']">{{ credit.personName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mmdbApp.credit.movie">Movie</span></dt>
                <dd>
                    <div *ngIf="credit.movieId">
                        <a [routerLink]="['/movie', credit.movieId, 'view']">{{ credit.movieTitle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/credit', credit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
