<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movie">
            <h2><span jhiTranslate="mymoviesdbApp.tMDBMovie.detail.title">TMDB Movie</span> {{ movie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.tmdbId"
                        [ngbTooltip]="'mymoviesdbApp.tMDBMovie.help.tmdbId' | translate">Tmdb Id</span></dt>
                <dd>
                    <span>{{ movie.id }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.title">Title</span></dt>
                <dd
                    style="height: 400px; background-position: right -200px top;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url('https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/rr7E0NoGKxvbkb89eR1GwfoYjpA.jpg');
                    ">
                    <span>{{ movie.title }}
                    </span>

                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.poster">Poster</span></dt>
                <dd>

                    <!-- <jhi-tmbd-picture [tmdbPath]="movie.posterTmdbId"></jhi-tmbd-picture> -->


                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.adult">For Adult</span></dt>
                <dd>
                    <span>{{ movie.forAdult }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.homepage">Homepage</span></dt>
                <dd>
                    <span>{{ movie.homepage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.originalLanguage">Original Language</span></dt>
                <dd>
                    <span>{{ movie.originalLanguage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.originalTitle">Original Title</span></dt>
                <dd>
                    <span>{{ movie.originalTitle }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.overview">Overview</span></dt>
                <dd>
                    <span>{{ movie.overview }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.tagline">Tagline</span></dt>
                <dd>
                    <span>{{ movie.tagline }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mymoviesdbApp.TMDBMovieStatus.' + movie.status }}">{{ movie.status }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.voteAverage">Vote Average</span></dt>
                <dd>
                    <span>{{ movie.voteAverage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.voteCount">Vote Count</span></dt>
                <dd>
                    <span>{{ movie.voteCount }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.releaseDate">Release Date</span></dt>
                <dd>
                    <span>{{ movie.releaseDate  | date:'mediumDate'  }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.tMDBMovie.genre">Genre</span></dt>
                <dd>
                    <span *ngFor="let genre of movie.genres; let last = last">
                        <a [routerLink]="['/tmdb-genre', genre?.id, 'view']">{{ genre.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>


        </div>
    </div>
</div>