<div>
    <h2 id="page-heading">
        <span jhiTranslate="mymoviesdbApp.tMDBMovie.home.title">TMDB Movies</span>

       
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mymoviesdbApp.tMDBMovie.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="movies?.length === 0">
        <span jhiTranslate="mymoviesdbApp.tMDBMovie.home.notFound">No tMDBMovies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="movies && movies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.forAdult">For Adult</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.originalLanguage">Original Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.originalTitle">Original Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.overview">Overview</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.tagline">Tagline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.voteAverage">Vote Average</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.voteCount">Vote Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="mymoviesdbApp.tMDBMovie.releaseDate">Release Date</span> <fa-icon icon="sort"></fa-icon></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies ;trackBy: trackId">
                    <td><a [routerLink]="['/tmdb-movie', movie.tmdbId, 'view']">{{ movie.tmdbId }}</a></td>
                    <td>{{ movie.tmdbId }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.forAdult }}</td>
                    <td>{{ movie.homepage }}</td>
                    <td>{{ movie.originalLanguage }}</td>
                    <td>{{ movie.originalTitle }}</td>
                    <td>{{ movie.overview }}</td>
                    <td>{{ movie.tagline }}</td>
                    <td jhiTranslate="{{ 'mymoviesdbApp.TMDBMovieStatus.' + movie.status }}">{{ movie.status }}</td>
                    <td>{{ movie.voteAverage }}</td>
                    <td>{{ movie.voteCount }}</td>
                    <td>{{ movie.releaseDate | date:'mediumDate' }}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
