<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="myMovie">
            <h2><span jhiTranslate="mmdbApp.myMovie.detail.title">My Movie</span> {{ myMovie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mmdbApp.myMovie.comments" [ngbTooltip]="'mmdbApp.myMovie.help.comments' | translate">Comments</span></dt>
                <dd>
                    <span>{{ myMovie.comments }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.myMovie.vote">Vote</span></dt>
                <dd>
                    <span>{{ myMovie.vote }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.myMovie.viewedDate">Viewed Date</span></dt>
                <dd>
                    <span>{{ myMovie.viewedDate }}</span>
                </dd>
                <dt><span jhiTranslate="mmdbApp.myMovie.movie">Movie</span></dt>
                <dd>
                    <div *ngIf="myMovie.movieId">
                        <a [routerLink]="['/movie', myMovie.movieId, 'view']">{{ myMovie.movieTitle }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mmdbApp.myMovie.user">User</span></dt>
                <dd>
                    {{ myMovie.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/my-movie', myMovie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
